.card {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--white);
  width: 60%;
  height: 75%;
  margin-inline: auto;
  border-radius: 1rem;
}

@media (max-width: 1220px) {
  .card {
    flex-direction: column-reverse;
    grid-row: 1/3;
    width: 100%;
    height: 100%;
    border-radius: 0;
  }
}