.title {
  color: var(--dark-slate-grey);
  font-size: 3rem;
  font-weight: 700;
}

@media (max-width: 1220px) {
  .title {
    font-size: 2rem;
  }
}

@media (max-width: 426px) {
  .title {
    font-size: 1.5rem;
  }
}