.left,
.right {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45%;
  height: 100%;
  box-sizing: border-box;
  padding-block: 1rem;
}

.leftContent {
  width: 90%;
  height: 90%;
  margin-left: 10%;
  display: grid;
  grid-template-rows: 35% 25% 40%;
  align-items: center;
}

.header {
  display: flex;
  flex-direction: column;
}

.text {
  margin-top: 2rem;
  font-weight: 400;
  max-width: 365px;
}

.leftContent ul li {
  margin-bottom: .75rem;
}

.leftContent ul li::before {
  content: url("../../assets/images/icon-list.svg");
  display: inline-block;
  margin-right: .25rem;
}

.leftContent form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.leftContent form button {
  cursor: pointer;
  font-weight: 700;
  padding: 1rem;
  color: var(--white);
  background-color: var(--dark-slate-grey);
  border: none;
  border-radius: .5rem;
}

.illustration {
  width: 80%;
  height: 80%;
  max-width: 400px;
  max-height: 593px;
  min-width: 200px;
  min-height: 296.5px;
}

@media (max-width: 1220px) {

  .left,
  .right {
    width: 100%;
  }

  .right {
    height: fit-content;
    padding: 0;
  }

  .leftContent {
    width: 80%;
    height: 100%;
    margin: 0 auto;
  }
}

@media (max-height: 750px) {
  .left {
    height: 80%;
  }

  .right {
    height: 20%;
  }

  .right svg {
    height: 100%;
  }
}