.button {
  cursor: pointer;
  font-weight: 700;
  padding: 1rem;
  color: var(--white);
  background-color: var(--dark-slate-grey);
  border: none;
  border-radius: .5rem;
  transition: 200ms;
}

.button:hover {
  background-color: var(--tomato);
}